<div id="slides">
  <% 6.times do |f| %>
      <%= image_tag "home_slider/home_#{(f+1)}.jpg" %>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $("#slides").slidesjs({
            width: 540,
            height: 328
        });
    });
</script>