// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom_header {
  width: 100%;
  background: purple;
  text-align: center;
  padding: 11px 0px;
  h3 {
    color: white;
    font-size: 38px;
  }
}

#slides {
  display:none;
}

.slidesjs-pagination {
  display: none;
}