<!DOCTYPE html>
<html>
<head>
  <title>Starlet</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="custom_header">
  <h3><%= @title.presence || 'You fool insert some title here!' %></h3>
</div>
<%= yield %>
<!--<div class="custom_footer">рвлорп </div>-->
</body>
</html>
